/* Estilos para miframe-box */

.miframe-box {
	font-family:Segoe UI, Arial;
	font-size:14px;
	margin:10px 0;
	padding:16px;
	border:none;
	border-left:5px solid gray;
	background:#f4f4f4;
}
.miframe-box .box-footnote {
	margin-top:15px;
	padding-top:10px;
	border-top:1px solid gray;
}
.miframe-box .box-footnote {
	margin-top:20px;
}
.miframe-box .box-message {
	max-width:100%;
	overflow:auto;
}
.miframe-box .box-message-limited {
	max-height:200px;
}
.miframe-box .box-title {
	padding-bottom:15px;
	/* font-weight:bold; */
}
.miframe-box-error .box-title {
	padding-bottom:25px;
}
.miframe-box-error .box-title-critical {
	padding:10px;
	font-size:18pt;
	font-weight: normal;
	margin-bottom: 20px;
	background:darkred;
	color:#f4f4f4;
	/* font-weight:bold; */
}
.miframe-box .box-stop {
	float:right;
	font-size:10px;
	color:#fff;
	font-weight:bold;
	/* background:darkred;
	padding:2px 5px;
	border-radius:3px */
}
.miframe-box .box-date {
	text-align: right;
	font-size: 12px;
	color:#777777;
}
.box-alert {
	border-color: red;
}
.box-mute {
	border-color: gray;
}
.box-info {
	border-color: blue;
}
.box-warning {
	border-color: darkgoldenrod;
}
.box-critical {
	border-color: darkred;
}
.box-console {
	border-color: black;
}

/* Estilos de DEBUG */
.miframe-box .miframe-debug {
	background:#000;
	color:#eee;
	padding:5px 8px
}
.miframe-box .miframe-debug .debug-error {
	color:darkred
}
.miframe-box .miframe-debug .debug-separador {
	border-top:1px solid #ccc;
}
.miframe-box .miframe-debug .debug-item-name {
	color:#ddd;padding:4px;
}
.miframe-box .miframe-debug .debug-item-value {
	color:#eee;
	padding:4px;
	min-width:100px;
	white-space:nowrap;
}
.miframe-box .miframe-debug .debug-button {
	font-size:12px;
}
.miframe-box .miframe-debug .debug-button a {
	color:#ccffff;
}
.miframe-box .miframe-debug .debug-container {
	font-family:Monospace;
	margin:5px 0 5px 30px;
	display:none;
}
.miframe-box .miframe-debug .debug-show {
	display:block;
}