/* Estilos para archivos de test */
html {
	padding: 0;
	margin:0;
}
body {
	font-family: "Segoe UI",Helvetica,Arial,sans-serif;
	font-size: 14px;
	line-height: 1.5;
	word-wrap: break-word;
	padding:0;
	margin:0;
	}
h1 {
    /* padding-bottom: .3em; */
    font-size: 1.5em;
    /* border-bottom: 1px solid hsla(210,18%,87%,1); */
	background-color: #000000;
	color:#fefefe;
	padding:10px;
	margin:0;
	}
h1 small {
	color:#f5f537;
	font-size:0.5em;
	display:block;
	padding-top:5px;
	font-weight: 400;
	text-transform: uppercase;
}
h2 {
	margin-top: 24px;
	font-size: 1.3em;
}
h1, h2 {
	margin-bottom: 16px;
	font-weight: 600;
	line-height: 1.25;
}
.content-test {
	padding: 20px;
}
code {
	background: #f4f4f4;
	font-size: 0.9em;
	padding:1px 5px;
	font-family: Consolas;
	color:#555555;
}
pre.code {
	background: #f4f4f4;
	border: 1px dashed #aaaaaa;
	padding:16px;
	font-size: 0.95em;
	margin-top:20px;
	margin-bottom:20px;
	color:#555555;
}
.foot {
	font-size: 12px;
	padding-top: 40px;
	padding-bottom: 8px;
	margin-top: 40px;
	color: #24292f;
	border-top: 1px solid hsla(210,18%,87%,1);
}
