*.zip
admin/micode/config/php-namespaces.ini
admin/micode/config/sistema.ini
admin/micode/miframe/*
admin/micode/vendor/*
admin/micode.private/*
externals-installed.ini
modules-installed.ini
data/repositories.ini
projects/*
