## Adaptado de https://stackoverflow.com/questions/29871378/apache-mod-rewrite-restful-api

DirectoryIndex index.php
# Options +FollowSymLinks
RewriteEngine on

# otherwise, serve your index.html app
RewriteRule ^(.+)$ - [F,L]
